body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", "sans-serif";
  background-color: #27534a;
}

main.contents {
  width: 40rem;
  margin-top: 10%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.5rem #5b5e5d;
  background-color: #cdcdcd;
}

h1,
h4 {
  font-family: "Roboto", "sans-serif";
}

.title,
.new-title {
  margin: 0;
}

.underlined {
  width: 100%;
}

.task-container {
  display: grid;
  grid-template-columns: 10% 50% min-content;
  grid-template-rows: repeat(4, 2fr);
  grid-template-areas:
    "new-title . ."
    "new-task new-task new-button"
    "totalTasks tasks tasks"
    "completedTasks tasks tasks"
    ". tasks tasks";
  gap: 0.2rem 0.5rem;
}

#taskInput,
.new-task-button {
  font-size: 1.1rem;
  line-height: 2rem;
  border-radius: 0.6rem;
}
.new-title {
  grid-area: new-title;
  margin: 0;
}

#taskInput {
  grid-area: new-task;
  padding: 0;
  margin: 0;
  width: 550px;
  height: 30px;
  border: 0.13rem solid #999;
}

.new-button {
  grid-area: new-button;
  padding: 0.4rem 0.8rem;
  background-color: rgb(0, 130, 0);
  border: 0.2rem solid #6b9774;
  color: #d3ebd8;
  cursor: pointer;
  border-radius: 10px;
}
.title2 {
  display: flex;
  justify-content: center;
  padding: 15px;
  padding-left: 100px;
  gap: 105px;
  font-size: large;
  padding-right: 60px;
}
.totalTasks {
  grid-area: totalTasks;
  margin: 10px;
}
.completedTasks {
  grid-area: completedTasks;
  margin: 10px;
}

span.value {
  font-weight: bold;
}

.task-row {
  grid-area: tasks;
  display: flex;
  justify-content: end;
  gap: 30px;
  height: 40px;
}

.task-row > div {
  display: grid;
  grid-template-columns: 100px auto repeat(2, min-content);
  grid-template-rows: repeat(4, min-content);
  align-items: center;
  border-radius: 0.6rem;
  gap: 0 0.2rem;
  padding: 0.1rem 0.4rem;
}

.task-row > div :first-child {
  text-align: right;
  cursor: pointer;
}
.task-row div:not(.finished) i:hover {
  filter: none;
}

.task-row div:not(.finished) i {
  cursor: pointer;
  filter: contrast(20%) brightness(105%);
}
.task-row .square {
  align-items: flex-end;
}

.task-row .title3 {
  width: 85px;
  height: 30px;
}

.del {
  color: rgb(183, 6, 6);
}

.fullTask {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(2, min-content);
  grid-template-rows: 30% 30% 30%;
  grid-template-areas:
    "totalTasks tasks tasks"
    "completedTasks tasks tasks";
}
